<!-- footer -->

<footer>
    <div class="column">
      <h3> Digital Services </h3>
    </div>
    <div class="column">
      <h3> About Kainos </h3>
    </div>
    <div class="column">
      <h3> Investor Relations </h3>
    </div>
    <div class="column">
      <h3> Legal </h3>
    </div>

    <div class="footerLogo">
      <img src="/stylesheets/images/Kainos-alt-transparent.png" alt="Logo" class="logo">
    <a href="https://www.kainos.com/">Visit the Kainos Website</a>
    </div> 
  </footer>