<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="icon" href="/stylesheets/images/favicon.webp" type="image/x-icon">
</head>
<body>
    <%- include('./header.ejs') %>
    <h1>Login Page</h1>

    <%- include('./footer.ejs') %>
</body>
</html>